<div class="navbar navbar-expand-sm">

  <button class="navbarToggler">
    <%= image_tag 'menu.svg' %>
  </button>

  <%= link_to root_path, class: "navbar-brand" do %>
    By Lolo
  <% end %>

  <div class="shopping-bag">
      <%= link_to cart_path(@current_cart), class: 'cart-link' do %>
        <i class="fas fa-shopping-bag"></i>
        <% if @current_cart.products.size != 0 %>
          <span class="cart-count">
            <%= @current_cart.products.size %>
          </span>
        <% end %>
      <% end %>
    </div>

  <div class="sidebar-nav hiddenNav" id="sidebarNav">

    <button class="navbarToggler">
      <%= image_tag 'closebutton.svg' %>
    </button>

    <div class="main-nav">
      <% if user_signed_in? %>
        <% if current_user.admin? %>
          <%= link_to "Ajouter", new_product_path %>
        <% end %>
        <%= link_to "Log out", destroy_user_session_path, method: :delete %>
      <% else %>
        <%= link_to "Login", new_user_session_path %>
      <% end %>
    </div>
  </div>
</div>
