<%= render'shared/banner' %>
<div class="container mt-5 mb-5 home-container">
    <% @products.each do |product| %>
        <%= link_to product_path(product), class: "product-card" do %>
          <div class="product-photo" style="background-image: url('<%= cl_image_path product.photo.key %>')">
            <div class="product-infos">
              <h1><%= product.name.capitalize %></h1>
              <p><%= humanized_money_with_symbol(product.price) %></p>
            </div>
        </div>
      <% end %>
    <% end %>
</div>
