<h2>Cart show</h2>
<ul>
  <% @cart.order_products.each do |order_product| %>
    <li>Product: <%= order_product.product.name %>/ Price: <%= order_product.product.price %>
        <%= link_to "Remove item", order_product_path(order_product), method: :delete %>
  <% end %>
</ul>
<h3>Sub total: <%= @cart.sub_total %></h3>
<% if @cart.order_products != [] %>
  <%= link_to "Proceed to checkout", new_order_path %><br>
<% end %>
<%= link_to "Empty cart", cart_path(@current_cart),method: :delete, data: {confirm: "Are you sure?"} %>
