<body id="<%= "body-show" if @product %>">
  <div class="container">
    <% if current_user && current_user.admin? %>
      <%= link_to "Editer", edit_product_path(@product) %>
      <%= link_to "Supprimer", product_path(@product), method: :delete, data: {confirm: "Supprimer ?"} %>
    <% end %>
    <div class="show-container">
      <div class="product-photo-show" style="background-image: url('<%= cl_image_path @product.photo.key %>')">
      </div>
      <div class="product-info-show">
        <h1><%= @product.name.capitalize %></h1>
        <% if @product.available %>
          <p>Disponible</p>
        <% else %>
          <p>Non disponible</p>
        <% end %>
        <p><%= @product.price %>€</p>
        <p><%= @product.description %></p>
        <%= simple_form_for([@cart, OrderProduct.new]) do |f| %>
          <%= f.hidden_field :product_id, value: @product.id %>
          <%= f.submit "Ajouter au panier", class: "add-to-card-btn", method: :post  %>
        <% end %>
         <!--  <div class="add-to-card-btn">
            Ajouter au panier
          </div> -->
      </div>
    </div>
  </div>
</body>


